<h2 class="col-md-12">Affordabe Locations You Can Travel To</h2>
  <br/>
<div class="home-page row">
  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row no-gutters">
        <div>
          <img src="assets/images/locations/Rome-Location.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Rome</h5>
            <p class="card-text">{{cardDemo}}</p>
            <p class="card-text"><small class="text-muted">Last updated 1 year ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row no-gutters">
        <div>
          <img src="assets/images/locations/England-Location.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">England</h5>
            <p class="card-text">{{cardDemo}}</p>
            <p class="card-text"><small class="text-muted">Last updated 5 months ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row no-gutters">
        <div>
          <img src="assets/images/locations/Japan-Location.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Japan</h5>
            <p class="card-text">{{cardDemo}}</p>
            <p class="card-text"><small class="text-muted">Last updated 7 hours ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row no-gutters">
        <div>
          <img src="assets/images/locations/Japan-Location.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">{{cardDemo}}</p>
            <p class="card-text"><small class="text-muted">Last updated 7 hours ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row no-gutters">
        <div>
          <img src="assets/images/locations/Japan-Location.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">{{cardDemo}}</p>
            <p class="card-text"><small class="text-muted">Last updated 7 hours ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row no-gutters">
        <div>
          <img src="assets/images/locations/Japan-Location.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">{{cardDemo}}</p>
            <p class="card-text"><small class="text-muted">Last updated 7 hours ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row no-gutters">
        <div>
          <img src="assets/images/locations/Japan-Location.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">{{cardDemo}}</p>
            <p class="card-text"><small class="text-muted">Last updated 7 hours ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row no-gutters">
        <div>
          <img src="assets/images/locations/Japan-Location.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">{{cardDemo}}</p>
            <p class="card-text"><small class="text-muted">Last updated 7 hours ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row no-gutters">
        <div>
          <img src="assets/images/locations/Japan-Location.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">{{cardDemo}}</p>
            <p class="card-text"><small class="text-muted">Last updated 7 hours ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>